<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Instructors page</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
<div>
	<div class="row" class="">
	<div class="col-3">
	<a href="home.html">HOME PAGE</a>
	</div>
	<div class="col-3">
	<a href="instructors.html">INSTRUCTORS PAGE</a>
	</div>
	<div class="col-3">
		<a href="news.html">NEWS PAGE</a>
	</div>
	<div class="col-3">
	<a href="contact_us.html">CONTACT_US PAGE</a>	
	</div>
</div>

	<div class="row">
		<div class="col-12">
			<h2 class="le">Insructors</h2>
<p>These are the mighty instructors of CEFORD</p>
</div>
	</div>	
	</div>
	<div class="row">
		<div class="col-3">
			<img src="../images/dress1.jpg" class="dress1">
			<p>Ms Sammy Grace</p>
		</div>
		<div class="col-3">
			<img src="../images/dress2.jpg" class="dress2">
			<p>Instructor Yomisky Dantez</p>
		</div>
		<div class="col-3">
			<img src="../images/entrepreneur-593371_640.jpg" class="us">
			<p>Instructor Oree Daniel</p> 
		</div>
		<div class="col-3">
			<img src="../images/doctor-2337835_640.jpg" class="is">
			<p>Mr. Angelo Jok</p>
			</div>
	</div>
	<div class="row">
		<div class="col-3">
			<img src="../images/woman-7175038_640.jpg" class="ms">
			<p>Ms. A.Welcy </p>
		</div>
		<div class="col-3">
			<img src="../images/cute-7441224_640.jpg" class="do">
			<p>Instructor A. Alvin</p>
		</div>
		<div class="col-3">
		<img src="../images/image2.jpg" class="ly">
		<p>Instructor N. Paul</p>	
		</div>
		<div class="col-3">
			<img src="../images/man-1161337_640.jpg" class="ly">
              <p>Instructor Wilson</p>
		</div>
	</div>
</div>
<div>
</body>
</html>